<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="ilog.rules.studio.launching.JRulesLocalApplication">
<stringAttribute key="ilog.rules.studio.launching.BEFORE_LAUNCHING_EXTRACTOR" value=""/>
<stringAttribute key="ilog.rules.studio.launching.BEFORE_LAUNCHING_EXTRACTOR_ARCHIVE" value="C:/tmp/ERX-UTest/src/main/resources/ruleset/testruleset.jar"/>
<stringAttribute key="ilog.rules.studio.launching.BEFORE_LAUNCHING_PROJECT" value="ERX-AssessHealthCheckRules"/>
<booleanAttribute key="ilog.rules.studio.launching.BEFORE_LAUNCHING_USE_ALL_RULES" value="true"/>
<booleanAttribute key="ilog.rules.studio.launching.BEFORE_LAUNCHING_USE_EXTRACTOR" value="true"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="ilog.rules.studio.debug.ui.jrulesSourceLocator"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.isis.ruletesting.GenerateRuleset"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ERX-UTest"/>
</launchConfiguration>