/4 10 1_FR Set Refills Remaining Qualifier PRN State is Zero-brl.irl
/4 10 2_FR Set Refills Remaining Qualifier R Entered is Zero-brl.irl
/4 10 3_FR Set Refills Remaining Qualifier R and PRN State is Non Zero-brl.irl
/4 11_FR Set Refills Remaining Qualifier PRN Equals State PRN-brl.irl
